{
  "name": "{{npmName}}",
  "version": "{{npmVersion}}",
  "description": "{{projectDescription}}",
  "author": "AICPA Audit Data Standards Team",
  "keywords": [
    "aicpa",
    "audit data standards"
  ],
  "license": "{{licenseName}}",
  "main": "./index.js",
  "typings": "./index.d.ts",
  "dependencies": {},
{{#npmRepository}}
  "publishConfig":{
    "registry":"{{npmRepository}}"
  }
{{/npmRepository}}
}
