{
  "name": "{{npmName}}",
  "version": "{{npmVersion}}",
  "description": "{{projectDescription}}",
  "author": "AICPA Audit Data Standards Team",
  "keywords": [
    "aicpa",
    "audit data standards"
  ],
  "license": "{{licenseName}}",
  "main": "./index.js",
  "typings": "./index.d.ts",
  "dependencies": {
    "{{modelPackageRef}}": "{{npmVersion}}",
    "isomorphic-fetch": "^3.0.0",
    "es6-promise": "^4.2.8",
    "url-parse": "^1.5.1"
  },
{{#npmRepository}}
  "publishConfig":{
    "registry":"{{npmRepository}}"
  }
{{/npmRepository}}
}
