## {{npmName}}@{{npmVersion}}

{{projectDescription}}. 

### Installing
Navigate to the folder of your consuming project and run one the following command.

```
npm install {{npmName}}@{{npmVersion}} --save
```
